@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Solway:wght@300&display=swap');

body {
    font-family: 'Oxygen', sans-serif;
}

.btn-primary, .navbar-dark {
    background-color: #00796B;
}

.btn-primary:hover {
    background-color: #009688;
}

.alert-secondary {
    background-color: #757575;
    color: #fff;
}

a {
    color: #757575;
}